{% extends "base.html" %}
{% block title %}ダッシュボード{% endblock %}
{% block content %}
  <h1 class="title">ダッシュボード</h1>
  <div class="columns">
    <div class="column">
      <div class="box has-text-centered">
        <p class="heading">物件</p>
        <p class="title">{{ property_count }}</p>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered">
        <p class="heading">入居者</p>
        <p class="title">{{ tenant_count }}</p>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered">
        <p class="heading">契約</p>
        <p class="title">{{ lease_count }}</p>
      </div>
    </div>
  </div>
  <div class="box">
    <p class="subtitle">左のメニューから登録画面へ移動できます。</p>
    <div class="buttons">
      <a class="button is-primary" href="{{ url_for('core.properties') }}">物件を管理</a>
      <a class="button is-link" href="{{ url_for('core.tenants') }}">入居者を管理</a>
      <a class="button is-info" href="{{ url_for('core.leases') }}">契約を管理</a>
    </div>
  </div>
{% endblock %}
